*{margin: 0;padding: 0}
.message{
  width: 90%;
  margin: 10px 5%;
  height: 500px;
  border: 1px solid gray;
  position: absolute;
}
.show{
  width: 800px;
}
.fff{
  text-align: center;
  position: absolute;
  top:550px;
  right: 0;
  left: 0;
}
.move div{
  font-size: 20px;
  font-weight: 700;
  position: absolute;
}
.s_txt{
  padding: 10px;
  width: 350px;
  margin-bottom: 20px;
}
#shut, #clc{
  height: 40px;
  width: 150px;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
}
#shut {
  color: red;
  border-color: red;
}
#clc{
  color: gray;
}
