@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(119, 177, 169);
}
.wrap{
    width: 70%;
    height: 200px;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #fff;
    color: rgb(119, 177, 169);
}
i{
    font-size:1.0em;
    margin-right: 0.4em;
    display: inline-block;
    position: relative;
    top: 10px;
}
.wrap div{
    font-size: 24px;
}
#text{
    text-indent: 20px;
}
#author{
    text-align: right;
    position: absolute;
    bottom: 70px;
    right: 30px;
}
.twitter-share-button{
    position: absolute;
    bottom: 30px;
    left: 30px;
    border:none;
    border-radius:3px;
    color:#fff;
    padding: 5px 18px 5px 18px;
    background-color:#333;
    outline:none;
    text-decoration: none;
}
.twitter-share-button i{
    position: static;
    margin-right: 0;
}
#btn{
    position: absolute;
    bottom: 30px;
    right: 30px;
    border:none;
    border-radius:3px;
    color:#fff;
    outline:none;
    background-color: rgb(119, 177, 169);
    padding: 8px 18px 6px 18px;
}